*{
    margin:0;
    padding:0;
    
}
body{
    font-size:30px;
    font-family: sans-serif;
}

/*.grid{
    max-width:1200px;
    margin:0 auto;
    display:grid;
    grid-template-columns:repeat(auto-fill, minmax(320px, 1fr));
   
    gap:30px 100px;
}
.grid div{
    background-color:purple;
    min-height:100px;
}
.grid div:nth-child(5){
    background-color:yellow;
  
  }
*/
.container{
    max-width:1200px;
    margin:0 auto;
   
}

.gridd{
   display:grid; 
   grid-template-rows:auto 1fr auto;
   grid-template-columns: 200px 1fr;
   grid-template-areas:
   'header header'
   'nav main'
   'footer footer';
}
.gridd div:nth-child(1){
    background-color:red;
    grid-area: header;
    display:flex;
    justify-content:space-around;
    align-items: center;
}
.gridd div:nth-child(2){
    background-color:rgb(30, 0, 255);
    grid-area: nav;

}
.gridd div:nth-child(3){
    background-color:rgb(0, 255, 60);
    grid-area: main;
}
.gridd div:nth-child(4){
    background-color:rgb(255, 0, 132);
    grid-area: footer;
}
@media (max-width: 768px){
    .gridd{
        display:grid; 
        grid-template-rows:auto ;
        grid-template-columns:auto;
        grid-template-areas:
        'header '
        'main'
         'nav'
        'footer' ;
     }
}