body{
    margin: 0;
    padding: 0;
   
}

.pai{
    
    margin:0px 0 5px 0;
    width: 100%;
    height:100vh;
    max-width: 2550px;
    background-color: rgb(97, 97, 219);
}
.filha{
    background-color: brown;
    width:200px;
    height:200px;
    margin: 10px;
    float: left;
}
.pai-2{
    margin: 5px 0 0 0;
    background-color: rgb(149, 65, 227);
    width: 100%;
    height:100vh;
    max-width: 2550px;
}
.pai-3{
    margin: 5px 0 0 0;
    background-color: rgb(149, 227, 65);
    width: 100%;
    height:100vh;
    max-width: 2550px;
}
.top{
    background-color: aqua;
    width: 100%;
    height: 65px;
    margin: 0 0 5px 0;
}
.menu{
    position: fixed;
    width: 100%;
    height:65px;
    background-color: rgb(115, 255, 0);
   
}
.menu ul{
    margin:0;
}