.menu{
    position: fixed;
    background-color: #ffff;
    width: 100%;
   border: 2px solid #000000;
   z-index: 1;
   top: 0;
   left: 0;
   right: 0;
}

.cor{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
}
.cor nav ul{
    display:flex;
  

}
nav ul li  a {
    margin: 10px;
  display: block;
  color: #000000;
}
nav ul li  a:hover{
  color:red;
} 
li{
  list-style: none;
}
a {
  text-decoration: none;
}

