.cor-do-menu{
    background-color:#ffff;
    color:black;
}
.menu{
    position: fixed;
    z-index: 1;
    width:100%;
    display:flex;
    justify-content: space-around;
    height:67px;
    margin:0 auto;
    align-items: center;
    border: 1px solid black;
}
nav ul{
    display: flex;
   
}
nav ul li{
    margin:0 10px 0 10px;
    list-style: none;
}
nav li a{
    text-decoration: none;
   color:black;
}
nav ul li:hover{
cursor: pointer;
}