*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    line-height: 1.5;
}   
.space{
    height:67px;
}
section{
    width: 100%;
 height: 100vh;
    background-color: rgba(0, 0, 243, 0.442);
}