*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    font-size: 69%;
}
body{
    line-height: 1.5;
    font-size:2em;
}   
.space{
    height:67px;
}
section{
   
 min-height: 100vh;
 display: block;
}
.main-content{
    max-width:120rem;
margin: 0 auto;
padding:10rem;

}
/**/
#intro{
   background-size:cover;
    background-image: url(../img/main-bg.svg);
    background-position:center center;
}
.grid-intro{
    display:grid;
    grid-template-columns: 1fr 1.5fr;
     position:relative;
     gap:30px;
     top:-2rem;
     min-height: 100vh;
}
.intro-text-content , .intro-img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
   color:white;
}
.intro-text-content h2{
    font-size:4rem;
}
.intro-img{
    max-width: 100%;
    height:auto;
}
.img-da-intro{
width:667;
height:460px;
}
/**/
#text{
    background-color: #ffff;
}
.text{
    display: flex;
    justify-content: center;
    max-width: 66rem;
    min-height: 100vh;
}
.text-content{
text-align: center;
}
.text-content h2{
    font-size:5rem;
    font-family:sans-serif;
    margin-bottom: 4rem;
    line-height: 1.2;
}
.text-content p{
    margin-bottom:2rem;
}

/**/
#grid-one{
    background-size:cover;
    background-image: url(../img/main-bg.svg);
    background-position:center center;
}
.grid-one{
    display: flex;
    flex-direction: column;
color: #ffff;
}
.grid-one h2{
    font-size:5rem;
}
.grid-one h3{
    margin-top: 40px;
    font-size:3rem;
    
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}
/**/
#gallery{
    background-color: #ffff;
}
.gallery{
    color:#000000;
    display: flex;
    flex-direction: column;
    
}
.grid-img{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
   
}
.gallery h2{
    font-size:5rem;
}
.gallery  div img{
    width: 350px;
    height: 200px;
}

/**/
#grid-two{
    background-size:cover;
    background-image: url(../img/main-bg.svg);
    background-position:center center;
}
.grid-two{
    display: flex;
    flex-direction: column;
color: #ffff;
}
.grid-two h2{
    font-size:5rem;
}
.grid-two h3{
    margin-top: 40px;
    font-size:3rem;
    
}
.grid-t{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}
/**/
#pricing{
    background-color: #ffff;
}
.pricing{
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    max-width: 70rem;
    min-height: 100vh;
}
.pricing h2{
font-size:5rem;
font-family: Montserrat, sans-serif;
margin-bottom: 4rem;
}
.pricing p{
    margin-bottom: 2rem;
}
.tabela-responsivo{
    overflow: hidden;
}
table{
    min-width:360px;
    width:100%;
    border-collapse: collapse;
}

/**/
#contant{
    background-color: #f6ff00;
}