*{
   /* margin:0;
    height: 0;
    box-sizing: border-box;*/
}
/*Float e Display (Block, Inline-Block e Inline) e cores*/
/*.grid .col{
   
    width:33.33%;
    height:300px;
    float: left;
    padding: 13px;
}
.grid .col-content{
width:100%;
height:100%;
background-color:#faff;

}
.grid::after{
    content:'';
    display:block;
    clear:both;
}
p{clear: both;}

.grid .content{
    width:100%;
    height:100%;
    background-color:blue
}
@media all and (max-width:375px){
    .grid .col{
        width:100%;}
     }

     @media all and (min-width:376px) and (max-width:768px){
        .grid .col{
            width:50%;}
     }
     @media all and (min-width:768px) and (max-width:1800px){
        .grid .col{
            width:33.33%;}
     }
     @media all and (min-width:1800px) and (max-width:2160px){
        .grid .col{
            width:25%;}
     }*/
/*598. Media queries e breakpoints*/
/*Propriedades para textos*/
/*
 p{
    font-size:20px;
    font-style: italic;
    font-weight: bold;
    direction: ltr;
    letter-spacing: 5px;
    word-spacing: 5px;
    line-height: 30px;
    text-align: center;
    text-decoration: underline;
    text-indent: 30px;
    text-shadow: 2px 2px 5px rebeccapurple;
    text-transform: capitalize;
} */
   /*Posicionamento - Position*/
.pai{
height: 300vh;
}
.filha1, .filha2, .filha3{
   width:300px;
   height:300px;
   margin:10px;
   position:static;
   background-color: blue;
}
.filha2{
    background-color: blueviolet;
  
   
}
.filha1{
   
}
.filha3{
background-color: rgb(47, 255, 61);
position:relative;
top:50px;
left: 50px;
}
p{
   
    width: 500px;
    height: 100px;
}
.outra{
    color: blue;
    position: absolute; 
   right: 0px;
    bottom:20px ;
    font-size: 20px;
}

 ul{
   height: 100px;
   overflow-y: auto;
}
ul li.sticky{
    position: sticky;
    top:0;
    background-color: blueviolet;
}