@import url('https://fonts.googleapis.com/css2?family=Freehand&display=swap');
h1{
   font-family: "Freehand";
}
body{
   background-image:linear-gradient(to right ,#f2f3ce,#d2ae7d,#bf5870 );
   text-indent: 15px;
 
}

 .alfa{
    background:red;
    display:block;
    width:100%;
    height: 100%;
    max-width:600px;
    max-height: 100%;
    margin:0 auto 50px auto;
    padding:50px;
    border: 5px solid black;
    
 }
  html ,body{
    height: 100%;
    scroll-behavior: smooth;
 }

 .beta{
   
  display: block;
  margin:30px auto 5px auto;
  max-width:800px;
  border: 5px solid black;
  padding: 0 5px 0 5px;
 }
 .delta{
   background-color:#80a38b00;
  display: block;
  margin:0 auto 10px auto;
  padding: 0 5px 0 5px;
  max-width:800px;
  border: 5px solid black;
 }
 hr{
   background: red;
 }
 
 