/* Formulários e Imputs HTML*/
body{
    font-family: sans-serif;
}

.label{
    cursor:pointer;
    display:block;
}
nav{
   width: 300px;
   height: 900px;
   
}
div{
    display:flex;  
   
   
}
.p{
    display: block;
    width: 900px;
    height: 900px;
}
/*Separando Html e CSS*/
.um{
    background-color: #00ffff;
    height: 100px;
    width: 100px;
}
