*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-size: 30px;
    font:sans-serif;
}
.grid{
    max-width: 1200px;
    display:grid;
    grid-template-columns:repeat(3,1fr );
    grid-template-rows: 1fr 2fr 1fr;
    gap:30px;
    margin:0 auto;
}
.grid div{
    background-color: blue;
    min-height: 100px;
}
.grid div:nth-child(5){
    background-color: aqua;
grid-row:span 2;
grid-column:span 2;
}