/*Separando Html e CSS*/
.um{
    background-color: #00ffff;
    height: 100px;
    width: 100px;
}
/*Seletores básicos do CSS*/
*{
    margin:0;
    padding:0;
}

body div section h1,
body div section p {
color:blueviolet;
}
.azul{
    color:blue;
}
.italico,.verde{
    font-style: italic;
}
.verde{
    color:green;
}
body h2{
   font-size:20px;
}
.pai{
    font-size: 50px;
}
.pai .filha .filha2{
color:pink;
}
[meu-atributo]{
    color:yellow;
}
/*Seletores básicos do CSS Parte 2*/
.div .h1+p{
    color:red;
}
/*Pseudo-classes*/
a{
color: red;
}
a:link{
    color:pink;
}
a:hover{
    background-color: blueviolet;
    color:white;
    text-decoration:none;
}
a:active{
    background-color: #00ffff;
    color: red;
}
h1:hover{
    background-color: blue;
}
h1{
   transition:all 1s ease-in-out;
   width: 90px;
}
input:disabled{
  background-color: blue;
  cursor:not-allowed;
}
input:focus{
    box-shadow:0 0 5px rgba(0, 0, 0, 0.5)
}
.mod:checked + p{
    background-color: chocolate;

}
.para-lista:checked + .pai-lista .lista li:first-child{
    background-color: cadetblue;

}
.pai-lista .lista li:last-child{
    background-color: crimson;
}
/*Pseudo-classes :not()*/

.inicio p:not(.meio) {
color:rgb(255, 0, 157);
}
/*Pseudo-classe :nth-child()*/
ul li:nth-child(even){
    color:blueviolet;
}
ul li:nth-child(odd){
    color:rgb(43, 226, 107);
}
/*Pseudo-ELEMENTOS*/
ul li::after{
   content:'+';
   background-color: black;
}
.inicio .grande::first-letter  {
    font-size: 50px;
    display:block;
    float:left;
    margin:0 10px 10px 0px;
   }
   p::selection{
    background-color: black;
    color:white;
   }
   /*Especificidade CSS*/
   