*{
 margin: 0;
 padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
/*Float e Display (Block, Inline-Block e Inline) e cores*/
.grid .col{
   
    width:33.33%;
    height:300px;
    float: left;
    padding: 13px;
}
.grid .content{
    width:100%;
    height:100%;
    background-color:blue;
   
}
.grid::after{
    content:'';
    display:block;
    clear:both;
}
p{clear: both;}
/*Border-radius (elementos redondos ou curvados)*/
/*601. Box-shadow (sombra em elementos)*/
.grid .col-content{
    width:100%;
    height:100%;
    background-color:#faff;
   /*border-radius:50%;*/ 
   box-shadow:inset 0 0 30px 5px blue , 5px 0 5px 5px rgba(0, 0, 0, 0.476);
    
    }
/*Uma breve junção de tudo aprendido até aqui*/
.menu{
    background-color: rgb(0, 0, 0);
    position: fixed;
    width: 100%;
   height: 28px;
}
.menu ul {
  list-style: none;
  display:block;
 max-width: 1200px;
 padding:0 0 0 30px;
margin:3px auto;
  
}
.menu ul li  {
 float: left;
 font-size: 20px;

  }
  .menu ul li a {
   display:block;
   color:white;
   margin:0 10px 0 0;
   text-decoration: none;
   transition: 300ms ease-in-out;
     }
     .menu ul li a:hover {
     background-color: rgb(255, 127, 191);
          }

.grid{
    max-width: 1200px;
padding:15px;
margin:0 auto;
}
body{
    font-family: sans-serif;
}
.full-page{
    max-width: 100%;
    background-color: blueviolet;
    height: 100vh;
}
.full-page-content{
    max-width:1200px;
    padding:0 30px;
    margin:0 auto;
}
/*598. Media queries e breakpoints
*/
    @media all and (max-width:375px){
    .grid .col{
        width:100%;}
     }

     @media all and (min-width:376px) and (max-width:768px){
        .grid .col{
            width:50%;}
     }
     @media all and (min-width:768px) and (max-width:1800px){
        .grid .col{
            width:33.33%;}
     }
     @media all and (min-width:1800px) and (max-width:2160px){
        .grid .col{
            width:25%;}
     }
/*598. Media queries e breakpoints*/
/*Propriedades para textos*/
/*
 p{
    font-size:20px;
    font-style: italic;
    font-weight: bold;
    direction: ltr;
    letter-spacing: 5px;
    word-spacing: 5px;
    line-height: 30px;
    text-align: center;
    text-decoration: underline;
    text-indent: 30px;
    text-shadow: 2px 2px 5px rebeccapurple;
    text-transform: capitalize;
} */
   /*Posicionamento - Position*/
/*.pai{
height: 300vh;
}
.filha1, .filha2, .filha3{
   width:300px;
   height:300px;
   margin:10px;
   position:static;
   background-color: blue;
}
.filha2{
    background-color: blueviolet;
  
   
}
.filha1{
   
}
.filha3{
background-color: rgb(47, 255, 61);
position:relative;
top:50px;
left: 50px;
}
p{
   
    width: 500px;
    height: 100px;
}
.outra{
    color: blue;
    position: absolute; 
   right: 0px;
    bottom:20px ;
    font-size: 20px;
}

 ul{
   height: 100px;
   overflow-y: auto;
}
ul li.sticky{
    position: sticky;
    top:0;
    background-color: blueviolet;
}*/