/*Flexbox*/
/*o display :flex; posibilita o ajuste dos item no site, depois de colocado no css você precisará de flex-direction:;
justify-content:; e align-items:; flex-wrap:; align-content:;*/
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.flex-container{
background-color: rgba(0, 0, 255, 0.637);
height: 640px;

display:flex;
justify-content:flex-start;
flex-wrap: wrap;
align-items:flex-start;
align-content: center;
}
.flex-item{
    background-color: red;
   width:33.33%;
}
.flex-item:nth-last-child(2){
   
}