/*Flexbox*/
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.flex-container{
background-color: rgba(0, 0, 255, 0.637);
height: 500px;
display:flex;
flex-direction: row;
justify-content:center;
align-items:center;
}
.flex-item{
    background-color: red;
    width: 100%;
    margin: 10px;
}