/*Separando Html e CSS*/
.um{
    background-color: #00ffff;
    height: 100px;
    width: 100px;
}
/*Seletores básicos do CSS*/
*{
    margin:0;
    padding:0;
}

body div section h1,
body div section p {
color:blueviolet;
}
.azul{
    color:blue;
}
.italico,.verde{
    font-style: italic;
}
.verde{
    color:green;
}
body h2{
   font-size:20px;
}
.pai{
    font-size: 50px;
}
.pai .filha .filha2{
color:pink;
}
[meu-atributo]{
    color:yellow;
}
/*Seletores básicos do CSS Parte 2*/
.div .h1+p{
    color:red;
}
